@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  background: black;
  color: white;


  font-family: 'Lato', sans-serif;
  height: 98%;
}

h1, h2, h3, h4, h5 {
  color: #ff0080;
  margin: 0;
}

pre code {
  align-self: flex-end;
  color: #ff0080;
}

.app {
  height: 100%;
}

.slides {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-items: center;

  height: 100%;
}

.slide {
  display: flex;

  flex-direction: column;

  align-items: center;

  font-size: 1.4em;

  padding: 0.8em;

  height: 100%;
  width: 60%;
}

.slide pre {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;

  justify-content: space-between;

  width: 7em;
}

.title-slide .markdown {
  height: 20%:
}

.markdown {
  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: space-around;
}

button {
  border: none;

  background: hotpink;
}

button:disabled {
  background: pink;
}

.wrapper {
  display: flex;

  flex-direction: column;

  align-items: center;
}
