@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  background: #111;
  color: #EEE;


  font-family: 'Lato', sans-serif;
  height: 98%;
}

h1, h2, h3, h4, h5 {
  color: #ff0080;
  margin: 0;
}

pre code:not(.lang-js){
  color: #ff0080;
}

.app {
  height: 100%;
}

.slides {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-items: center;

  height: 100%;
}

.slide {
  display: flex;

  flex-direction: column;

  align-items: center;

  font-size: 1.4em;

  padding: 0.8em;

  height: 100%;
  width: 80%;
}

.slide strong {
  color: #ff0080;
}

.slide pre {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;

  justify-content: space-between;
}

.title-slide .markdown {
  height: 20%:
}

.markdown {
  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: space-around;
}

button {
  border: none;

  background: hotpink;

  margin: 0px 10px;
}

button:disabled {
  background: pink;
}

.wrapper {
  display: flex;

  flex-direction: column;

  align-items: center;
}

.counter {
  border: 1px solid hotpink;
  padding: 10px;
  border-radius: 3px;
  transform: scale(1.5);
  margin: 50px;
}

.count {
  text-align: center;
}

blockquote {
  height: auto;
  border-left: 3px solid #ff0080;
  margin: 0px 20px;
  margin-top: 40px;

  font-size: 1.3em;
}

blockquote p {
  margin: 0;
  padding: 1px 10px;
}

input {
  border: 1px solid #ff0080;
  background: #111;
  font-size: 1.1em;
  color: white;
  margin: 3px;
}

table {
  margin: 10px;
  border-collapse: collapse;
  border-style: hidden;
}

table th {
}

table td, table th {
  border: 1px solid #ff0080;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 5px;
}

a {
  color: skyblue;
}
